
.conversation-modal {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    width: 300px;  
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    z-index: 1000; 
    overflow: hidden;
}

.custom-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-modal-header {
    background-color: pink;
    color: white;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.custom-modal-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto; 
    height: 200px;
}

.messages-box {
    max-height: 300px; 
    overflow-y: scroll;
    padding: 5px;
}

.message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#messageInput {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}


.custom-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.custom-button:hover {
    background-color: #0056b3;
}
